
// Start Blog
.blog2 {
    padding: 50px 0;
    background-color: $mainColor;
    overflow: hidden;
    h1 {
        text-align: center;
        text-shadow: 2px 2px 5px $mainColor;
        font-size: 40px;
        color: $mainColor;
      }
      .blog-item {
        width: 80%;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        padding: 20px;
        box-shadow: 3px 3px 25px #888;
        @media (max-width: 767px) {
              display: grid;
              margin: 0 auto;
          }
      }
      .blog-img {
        width: 300px;
        height: 300px;
        img {
            max-width: 100%;
          }
      }
      .blog-content {
        display: grid;
        width: 60%;
        @media (max-width: 767px) {
            width: 100%;
            padding: 5px;
          }
      }
  }
// End Blog
