/* .........../services Menu/............ */

.services-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: var(--titleSection-color);
  }
  
  .services-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px 30px 0px;
    .services-menu-item {
        cursor: pointer;
        display: flex;
        flex: 1 1 400px;
        justify-content: center;
        box-shadow: 1px 3px 15px #394f4a; 
        border-radius: 40px;
        padding: 10px 20px;
        margin: 10px;
        margin-bottom: 3rem;
        transition: var(--main-duration);
        background-color: #fff;
        &:hover{
        box-shadow: 1px 3px 15px #1abc9c;  
        scale: 1.1;
        }
        @media (max-width:767px) {
          flex-direction: column;
          align-items: center;
        }
        .services-img{
          display: grid;
          align-items: center;
          font-size: 75px;
          color: var(--titleSection-color);
         i{
          padding: 30px 30px;
          border: 3px solid var(--titleSection-color);
          border-radius: 50%;
         }
        }
        .services-description {
            margin: auto 1.5rem;
            flex: 1;
            h3{
              color: var(--titleSection-color);
              @media (max-width:568px) {
               text-align: center;
              }
            }
            p {
                font-size: 1.4rem;
                color: #555;
                font-weight: 500;
                @media (max-width:568px) {
                  text-align: center;
                 }
              }                
          }
      }
  }
  /* End services  */
