
.blog{
  background-color: #fff;
  padding: 50px 0;
  .main-heading{
    margin-bottom: 90px;
  }
  .Blog-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .Blog-item{
      width: 350px;
      box-shadow: 1px 10px 20px #a2a1a1;
      margin: 25px 50px;
      height: 350px;
      cursor: pointer;
      .blog-img{
        width: 100%;
        height: 200px;
        position: relative;
        img{
          width: 100%;
          height: 100%;
        }
        .over-lay{
          display: none;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #00000087;
          i{
            color: #fff;
            font-size: 40px;
          }
        }
      }
      &:hover .over-lay{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Blog-body{
        padding: 10px;
        .utility-list{
          display: flex;
          flex-wrap: wrap;
          li{
            span{
             padding: 5px;
             i{
               color: $mainColor;
             }
            }
          }
        }
      }
    }
    @each $num in (0),(2),(4),(6) {
      .item#{$num}{
        margin-top: -20px;
      }
    }
  }
}
