$mainColor: #19c8fa;
$secondryColor: #286f82;
$pColor: #a2a2a2;
$sectionPadding: 100px;
$tranpaerntColor: #0f748fba;

/* Start services3  */
.services3 {
  padding: 50px;
  background-color: var(--secondary-color);
  .container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
}
.has-outline {
  /* Extra large devices (large desktops, 1200px and up)  */
  @media (min-width: 1200px) {
    width: 300px;
    height: 275px;
  }
  color: var(--secondary-color);
  background: #b1d9d3;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  width: 250px;
  height: 250px;
  display: grid;
  place-content: center;
  margin: 25px 0;
  cursor: pointer;
  transition: var(--main-duration);
  box-shadow: 1px 1px 26px var(--main-color);
  h4 {
    display: flex;
    justify-content: center;
  }
  h3 {
    text-shadow: 1px 6px 5px cadetblue;
    text-align: center;
  }
  &:after {
    border-radius: 50%;
    padding: 5px;
    border: 2px dashed var(--main-color);
    position: absolute;
    content: "";
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    transition: var(--main-duration);
  }
  &:hover {
    scale: 1.1;
    &::after {
      border: 6px solid var(--main-color);
    }
  }
}
/* End services3  */
